.social-card {
    margin: 100px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
    padding-bottom: 30px;
    display: flex;
}

.avatar-img {
    padding-left: 15px;
    padding-top: 15px;
    height: 48px;
    width: 48px;  
}

.avatar-img__img {
    max-width: 100%;
    border-radius: 100%;
}

.name {
    padding: 7px 0 0 7px;
    font-size: 14px;
    font-weight: bold;
}

.username, .timestamp {
    padding: 7px 0 0 5px;
    font-size: 14px;
    color: #657786;
    font-size: 14px;
}

.username a {
    text-decoration: none;
    color: #657786;
}